@import "./_mixin.scss";
.container{
	width: 960px;
	margin: 0 auto;
	padding: 0px 10px;
	background-color: #fff;
	@include clearfix;
	@include r(1200){
		width: 970px;
	}
	@include r(993){
		width: 750px;
	}
	@include r(769){
		width: 100%;
	}
}