@import "./_mixin.scss";
@import "./_variables.scss";
.header{
	width: 100%;
    padding: 20px 0px;
    position: absolute;
	top: 0px;
	z-index: 9999;
}
.logo{
	display: inline-block;
	width: 88px;
}
.nav{
	float: right;
	margin-top: 10px;
	@include clearfix;
	@include r($screen-md){
		display: none;
		float: none;
		text-align: center;
		padding-bottom: 35px;
	}
	&__item{
		display:inline-block;
		margin-left: 28px;
		@include r($screen-md){
			display: block;
			margin-top: 15px;
		}
	}
	&__link{
		text-decoration: none;
		text-transform: uppercase;
		color: #b8b8b8;
		font-size: 16px;
		font-family: $font-bebas;
		&:hover{
			color: $main-color;
		}
	}
}
.responsive-menu{
	width: 35px;
	height: 35px;
	position: relative;
	cursor: pointer;
	@include r($screen-md){
		display: inline-block;
	  	position: absolute;
	  	top: 24px;
	  	right: 35px;
	}
	@include transform (rotate(0deg));
	@include transition (.5s ease-in-out);
		span{
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: #e75f3b;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			@include transform (rotate(0deg));
			@include transition(.25s ease-in-out);
		}
		span:nth-child(1){
			top: 0px;
		}
		span:nth-child(2){
			top: 13px;
		}
		span:nth-child(3){
			top: 13px;
		}
		span:nth-child(4){
			top: 26px;
		}
}
.responsive-menu.open {
	span:nth-child(1) {
  		top: 18px;
  		width: 0%;
  		left: 50%;
	}
	span:nth-child(2){
		@include transform(rotate(45deg));
	}
	span:nth-child(3){
		@include transform(rotate(-45deg));
	}
	span:nth-child(4){
		top: 18px;
  		width: 0%;
  		left: 50%;
	}
}
.responsive{
    @include r($screen-md){
    	display: block;
    }
}