@import "./_variables.scss";
@import "./_mixin.scss";
.posts-list{
    float: left;
    width: 71%;
    margin-right: 50px;
    @include clearfix;
}
.post{
    position: relative;
    &__icon{
        display: inline-block;
        background-color: $main-color;
        padding: 22px;
        position: absolute;
        left: -82px;
    }
    &__img{
        margin-bottom: 25px;
    }
    &__metadata{
        float: left;
        width: 200px;
    }
    &__content{
        margin-left: 200px;
        color: #414141;
        font-size: 12px;
        p{
            margin-bottom: 25px;
        }
    }
    &__title{
        color: $main-color;
        font-size: 18px;
        text-transform: uppercase;
    }
    &__description{
        @include clearfix;
    }
}
.post__img_size{
    width: 100%;
}
.metadata__title{
    color: $main-color;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.metadata__text{
    color: #c8c8c8;
    font-size: 12px;
    text-decoration: none;
    margin-right: 7px;
    &_border{
        border-right: 1px solid #c8c8c8;
        padding-right: 7px;
    }
}
.metadata__item{
    margin-bottom: 15px;
}
.post__line{
    height: 14px;
    background: url('../img/line.png');
    margin: 25px 0px 55px 0px;
}