@import "./_variables.scss";
@import "./_mixin.scss";
.posts-list{
    float: left;
    width: 71%;
    @include clearfix;
    @include r($screen-lg){
        width: 67%;
    }
    @include r($screen-md){
        width: 100%;
    }
}
.post{
    position: relative;
    &__icon{
        display: inline-block;
        background-color: $main-color;
        padding: 22px;
        position: absolute;
        left: -82px;
        @include r(1130){
            top: 10px;
            left: 10px;
        }
    }
    &__img{
        margin-bottom: 25px;
    }
    &__metadata{
        float: left;
        width: 200px;
    }
    &__content{
        margin-left: 200px;
        color: #414141;
        font-size: 12px;
        font-family: $font-helvetica;
        font-weight: bold;
        p{
            margin-bottom: 25px;
        }
    }
    &__title{
        color: $main-color;
        font-size: 18px;
        font-family: $font-bebas;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__description{
        @include clearfix;
    }
    &__line{
        height: 14px;
        background: url('../img/line.png');
        margin: 25px 0px 55px 0px;
    }
    &__quote{
        background-color: #f4f4f4;
        padding: 20px 34px;
    }
}
.post__img_size{
    width: 100%;
}
.metadata{
    &__title{
        color: $main-color;
        font-size: 12px;
        font-family: $font-bebas;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text{
        color: #c8c8c8;
        font-size: 12px;
        font-family: $font-helvetica;
        text-decoration: none;
        margin-right: 7px;
        &_border{
            border-right: 1px solid #c8c8c8;
            padding-right: 7px;
        }
    }
    &__item{
        margin-bottom: 15px;
    }
}
.quote__img{
    vertical-align: top;
    margin-right: 19px;
    @include r(1130){
        display: none;
    }
}
.quote__text{
    display: inline-block;
    width: 90%;
    font-size: 13px;
    font-family: $font-helvetica_italic;
    color: #474747;
    line-height: 1.5;
    @include r(1130){
        padding: 20px 0px 20px 70px;
    }
}
.post__freebies{
    padding-left: 110px;
}
.freebies__link{
    color: #9f9f9f;
    font-family: $font-helvetica;
    font-size: 12px;
    text-decoration: none;
}
.freebies__text{
    color: #414141;
    font-family: $font-helvetica;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 15px;
}