$screen-sm: 480;
$screen-md: 769;
$screen-lg: 993;
$screen-xl: 1200;

$main-color: #e8603c;
$font-bebas: 'bebas',sans-serif;
$font-helvetica: 'HelveticaNeue',sans-serif;
$font-helvetica_italic: 'Conv_HelveticaNeue-Italic',sans-serif;