<div class="post">
    <div class="post__icon">
        <img class="icon__img" src="././img/link-icon.svg">
    </div>
    <div class="post__freebies">
        <h2 class="post__title">Some of the best freebies on the web</h2>
        <a class="freebies__link" href="#">www.bestpsdfreebies.com</a>
        <p class="freebies__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.</p>
    </div>
    <div class="post__line"></div>
</div>