<div class="post">
    <div class="post__icon">
        <img class="icon__img" src="././img/quote.svg">
    </div>
    <div class="post__quote">
        <img class="quote__img" src="././img/quote_red.png">
        <p class="quote__text">
            Write anything you want here in this quotable area. Something unique you want people to learn 
            about your website or some cool random fact. Its totally up to you. Write anything you want 
            here in this quotable area. Something unique you want people to learn 
            about your website or some cool random fact. Its totally up to you.
        </p>
    </div>
    <div class="post__line"></div>
</div>