<div class="post">
    <div class="post__icon">
        {{mixins.icon('gallery')}}
    </div>
    <div class="post__img">
        <div class="post__slider">
            <ul id="lightSlider">
                <li><img src="././img/post-img_2.png" /></li>
                <li><img src="././img/post-img.png" /></li>
                <li><img src="././img/post-img.png" /></li>
            </ul>
        </div>
    </div>
    <div class="post__description">
        <div class="post__metadata">
            <div class="metadata__item">
                <h4 class="metadata__title">date</h4>
                <a href="#" class="metadata__text">April 15, 2012</a>
            </div>
            <div class="metadata__item">
                <h4 class="metadata__title">tags</h4>
                <a href="#" class="metadata__text metadata__text_border">Website</a><a href="#" class="metadata__text">Design</a>
            </div>
            <div class="metadata__item">
                <h4 class="metadata__title">comments</h4>
                <a href="#" class="metadata__text">4</a>
            </div>
        </div>
        <div class="post__content">
            <h2 class="post__title">Top WordPress Themes of 2012</h2>
            <p>
                Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
            </p>
            <p>
                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
            </p>
        </div>
    </div>
    <div class="post__line"></div>
</div>