{% import "../data/data.html" as list %}
<div class="sidebar">
    <div class="sidebar__item">
        <div class="sidebar__title_wrap">
            <h4 class="sidebar__title">about jetro</h4>
        </div>
        <p class="sidebar__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.</p>
    </div>
    <div class="sidebar__item">
        <div class="sidebar__title_wrap">
            <h4 class="sidebar__title">categories</h4>
        </div>
        <ul class="sidebar__list">
            {% for item in list.sidebar__categories %}
                <li>
                    <a class="sidebar__text" href="#">
                        {{item.link}}
                    </a>
                    <a class="sidebar__text" href="#">
                        ({{item.value}})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar__item">
        <div class="sidebar__title_wrap">
            <h4 class="sidebar__title">photo gallery</h4>
        </div>
        <div id="aniimated-thumbnials">
            {% for item in list.sidebar__gallery %}
                <a class="sidebar__link" href="{{item.link}}">
                    <img class="sidebar__img" src="{{item.img}}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>