{% set
menu = [
	{
		link: 'Home'
	},
	{
		link: 'about us'
	},
	{
		link: 'blog'
	},
	{
		link: 'portfolio'
	},
	{
		link: 'contact us'
	}
]
%}
{% set
	sidebar__categories = [
		{
			link: 'Video',
			value: 3
		},
		{
			link: 'Sports',
			value: 5
		},
		{
			link: 'Media',
			value: 2
		},
		{
			link: 'Entertainment',
			value: 7
		},
		{
			link: 'Life',
			value: 4
		},
		{
			link: 'Super  Cool Stuff',
			value: 8
		}
	]
%}
{% set
	sidebar__gallery = [
		{
			img: '././img/photo-gallery.png'
		},
		{
			img: '././img/photo-gallery.png'
		},
		{
			img: '././img/photo-gallery.png'
		},
		{
			img: '././img/photo-gallery.png'
		},
		{
			img: '././img/photo-gallery.png'
		},
		{
			img: '././img/photo-gallery.png'
		},
		{
			img: '././img/photo-gallery.png'
		},
		{
			img: '././img/photo-gallery.png'
		}
	]
%}